MONGO_USERNAME=mongouser
MONGO_PASSWORD=mongopassword
PROVIDER=AFDB
MONGO_DB_HOST=mongodb:27017
MODEL_FORMAT=MMCIF
ASSETS_URL=static
# Comma-separated list of allowed origins for CORS. Use * to allow all origins.
CORS_ALLOWED_ORIGINS=https://bindome.epfl.ch
